<div class="wrapper">
  <div class="container">
      <div class="frame-area">
        <form>
            <div class="input-group input-group-lg m-a-2">
                <input name="search" #searchTerm type="text" class="form-control" placeholder="Search" (keyup)="performSearchOnShowName(searchTerm.value)">
            </div>    
        </form>
      
        <br>
        <br>
        <br>
      
      </div>
  </div>
  <br>
  <br>

  <div class="color-container">
      <div *ngFor="let g of colorlist | async; let i = index" >
        
        <p class="textblock">{{g.name}}</p>
        <div class="cardblock" [style.background-color] = "g.hexcode" 
                (mouseenter)="g.visible = true" 
                (mouseleave)="g.visible = false"
                title = "click to copy" 
                >
            <label type="text" *ngIf="g.visible" #hexcodelabel ngxClipboard [cbContent]="g.hexcode">{{g.hexcode}}</label>
        </div>
      
      </div>
    </div>  
</div>